@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply tracking-wide bg-slate-100;
}

.btn-ghost {
	@apply border-2 bg-transparent border-primary-light hover:bg-transparent text-black transition-all duration-300 !important;
}

.btn-lg {
	@apply inline-block px-6 py-3 text-lg font-semibold m-0 !important;
}

p {
	@apply leading-10;
	/* text-justify: distribute; */
	text-justify: inter-character;
}

.card {
	@apply bg-white
        mx-2
        px-12
        py-8
        shadow-sm
        hover:shadow-md
        transition-all
        duration-300;
}

.card .circle {
	@apply bg-white mx-auto rounded-full flex justify-center items-center;
	width: 140px;
	margin-top: -90px;
	height: 140px;
	overflow: hidden;
}

.card .circle img {
	width: 130px;
}

.card h1 {
	@apply text-3xl text-center my-4 font-semibold text-dark;
}

.card h2 {
	@apply text-lg text-center my-4 font-semibold text-primary-dark hover:text-sky-950 transition-all duration-300;
}

.card ul {
	@apply text-center my-8 font-semibold text-slate-500 list-none;
}

.card a {
	@apply w-full hover:text-primary-dark transition-all duration-300;
}

.card li {
	@apply py-3 border-b-[1px] border-slate-200;
}

footer {
	@apply bg-dark w-full px-12 py-8 mt-24;
}
